#root {
  width: 100%;
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem 5rem;
  text-align: center;
  border-left: thin solid lightgrey;
  border-right: thin solid lightgrey;
  box-sizing: border-box;
}
